
footer{
    background-color: rgb(235, 235, 235);
    min-height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-radius: -25px -25% 0% 0%;
}

.footer-basic{
    justify-content: center;
    align-items: center;
}

.copyright{
    justify-content: center;
    align-items: center;
    text-align: center;
}

