
footer{
    background-color: rgb(235, 235, 235);
    justify-content: center;
    align-items: center;
    margin: 0%;
    display: flex;
    text-align: center;
    border-radius: -25px -25px 0% 0%;
}

.footer-basic{
    display: grid;
    margin: 0%;
}

p .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

