header{
    background-color:white;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    position: sticky;
    top: 0;
    width: 100%;
    gap: 2rem;
    z-index: 3;
}