
.secturnos{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;

    .secturnos__sub{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .secturnos__sub p{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 2% 1% 10% 1%;
        font-family:'Times New Roman', Times, serif;
    }
    
    .secturnos__desc{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0% 10% 0% 10%;
        font-size: x-large;
    }
}


.agenda{
    display: grid;
    justify-content: center;
    align-items: center;
}

.descripcion{
    grid-area: descripcion;
    min-height: 100px;
    margin-top: 0%;
}

.boton{
    justify-content: center;
    align-items: center;
    margin-left: 43%;
}

/* SECTION */

.wave__one{
    min-height: 30px;
    position: sticky;
}

.custom-shape-divider-top-1703686034 {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1703686034 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 33px;
}

.custom-shape-divider-top-1703686034 .shape-fill {
    fill: rgb(223, 223, 223);
}

section{
    background-color: white;
    min-height: 300px;
    display: flex;
}

.section{
    align-content: center;
    justify-content:space-around;
    display: flex;
    flex-direction: row;   
}


.cajonera{
    display: flex;
}

.section__cards{
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: 300px;
}

.section__cards__h3{
    text-align: center;
}

section div h3 a{
    text-decoration: none;
    color:#584f4f;
    font-size: x-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section div p{
    text-align: center;
}

.wave__two{
    display: flex;
    min-height: 50px;
}

.custom-shape-divider-top-1704049697 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704049697 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    min-height: 30px;
}

.custom-shape-divider-top-1704049697 .shape-fill {
    fill: rgb(235, 235, 235);
}

.subtitulo{
    display: flex;
    text-align: center;
    margin-top: 0%;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.box__one{
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 3fr;   
    background-color: rgb(235, 235, 235);
    padding: 0px;
    margin: 0%;
    column-gap: 7vw;

}

.container.box__one{
    grid-template-columns: (repeat 3, 1fr);
}

.box__tarjeta{
    border-radius: 3%;
    margin: 0%;
    padding: 0%;
    min-height: 15vw;
    min-width: 23vw;
}

.box__two{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    grid-template-columns: 3fr;
    background-color: rgb(235, 235, 235);
    column-gap: 7vw;
}

.container.box__two{
    display: flex;
    grid-template-columns: (repeat 3, 1fr);
}

.box__link{
    text-decoration: none;
    border-radius: 3%;
    justify-content: center;
    align-items:center;
    
}

.box__in{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    text-align: center;
    min-height: 380px;
    width: 360px;
    background-color:rgba(0, 0, 0, 0.048);
}

.pre__footer{
    min-height: 15px;

}

.custom-shape-divider-top-1704048787 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704048787 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    min-height: 30px;
}

.custom-shape-divider-top-1704048787 .shape-fill {
    fill: rgb(235, 235, 235);
}

.sectionContacto{
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.mapaContacto{
    justify-content: center;
    align-items: center;
}

.info{   
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-radius: 0% 0% 10% 10%;
    padding: 0%;
    margin: 0%;
    min-height: 40vw;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 3fr;
    grid-template-areas:    
    "info__sede info__sede"
    "info__direccion info__direccion" 
    "info__contacto info__mapa" 
    "info__redes info__mapa";
}

.info__sede{
    display: grid;
    grid-area: info__sede;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-items: center;
}

.info__sede h2{
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-weight:500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info__direccion{
    display: grid;
    align-items:center;
    justify-content: center;
    margin-left: 40vw;
    text-align: center;
    grid-area: info__direccion;
    font-family: 'Times New Roman', Times, serif;
}

.info__direccion h2{
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
}

.info__direccion p{
    justify-content: center;
    align-items: center;
}

.info__contacto{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: info__contacto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-style: groove;
    border-width: 0 1px;
    border-color: #fff;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 0;
    background-color: #d2d9ea;

    a{
        @include anclas;
    }
}

.info__redes{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: info__redes;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-style: groove;
    border-width: 0 1px;
    border-color: #fff;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    padding: 0;
    background-color: #d2d9ea;
    color: #4e4e4e;
    border-radius: 12px;

    a{
        @include anclas;
    }
}


.info__mapa{
    display: grid;
    margin: 0% 2% 2% 0%;
    align-items: center;
    justify-content: center;
    grid-area: info__mapa;
}


.agenda{
justify-content: center;
align-items: center;
display: flex;
}

.agenda__btn{
    background-color: rgb(113, 178, 113);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    min-width: 300px;
    cursor: pointer;
    transition: all 0.3s;
}

.agenda__btn a{
    display: flex;
    text-decoration: none;
}

.agenda__btn__first img{
    display: flex;
    margin-right: 20px;
}

.agenda__btn__second{
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.agenda__btn__second p{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0%;
    transition: all 0.4s;
}

.agenda__btn__second p:hover{
    font-size: x-large;
    color:rgb(221, 221, 221);
}

.agenda__btn:hover{
    height: 50px;
    width: 380px;
    background-color: rgb(48, 148, 49);
    transform: scale(1.2);
}

.section .cajonera .section__cards .iconos:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.box__one .box__in .box__link .box__tarjeta:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.box__two .box__in .box__link .box__tarjeta:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}